@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.btn{
      background: linear-gradient(102.6deg,#23bfb8 -.49%,#85ea80 104.37%);
}

.features-mega-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 300px;
  transform: translate(0%, -55%);
  left: 45%;
  top: 70px;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 1s ease-in-out;
  z-index: 100;

  @media only screen and (min-width: 1700px) {
    width: 300px;
    transform: translate(0%, -50%);
    left: 50%;
  }
}

/* #hoverable Class Styles */
.feature-hoverable {
  position: static;
}

.feature-hoverable > a:after {
  content: "\25BC";
  font-size: 10px;
  padding-left: 6px;
  position: relative;
  top: -1px;
}

.feature-hoverable:hover .features-mega-menu {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1);
}

/* Help Mega menu */

.hero {
  position: relative;
  height: 70vh;
  

  background-size: cover;
  background-position: top;


  
}
.hero::before{
    background: rgba(38, 59, 94, 0.8);
}
.shape-image {
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite;
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.shape-1 {
  width: 15px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 243, 237, 1);
  top: 65px;
  right: 25%;
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite;
}

.shape-2 {
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background-color: rgba(255, 243, 237, 1);
  left: 20%;
  bottom: 40px;
  border-radius: 50%;
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite;
}
.shape-3 {
  width: 40px;
  height: 40px;
  background: radial-gradient(
    115.08% 115.75% at -29.83% -32.23%,
    #ffdedd 0,
    snow 100%
  );
  bottom: 15%;
  left: 3%;
  border-radius: 50%;
  -webkit-animation: animation1 2s linear infinite;
  -moz-animation: animation1 2s linear infinite;
  -o-animation: animation1 2s linear infinite;
  animation: animation1 2s linear infinite;
}
@keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes animation1 {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.bg-stat-4 {
  /* background-color: rgba(236, 248, 236, 1); */
  background: radial-gradient(
    115.08% 115.75% at -29.83% -32.23%,
    #ffdedd 0,
    snow 100%
  );
}

.bg-stat-3 {
  /* background-color: rgba(238, 246, 250, 1); */
  background: radial-gradient(
    118.66% 116.2% at -27.81% -29.39%,
    #fff7d3 0,
    #fffdf7 100%
  );
}

.bg-stat-2 {
  /* background-color: rgba(255, 243, 237, 1); */
  background: radial-gradient(
    115.44% 115.84% at -27.81% -29.39%,
    #defffd 0,
    #cbf0ee 0.01%,
    #f5fffe 100%
  );
}

.bg-stat-1 {
  /* background-color: rgba(254, 236, 244, 1); */
  background: radial-gradient(
    127.81% 126.83% at -27.81% -29.39%,
    #e1dfff 0,
    #e0ddff 0.01%,
    #fafaff 100%
  );
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    rgba(40, 180, 133, 0.8) 0%,
    #d8bbf6 29%,
    #d90647 37%,
    #b593ec 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #000;
  background: #ffb802;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #ffb802;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffb802;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Sticky Nav */

.sticky {
  position: fixed;
  width: 100%;

  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.nav-font {
  font-family: "Hind Siliguri", sans-serif !important;
}

.errorMessage {
  color: #f45532;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: left;
}

#notifyToast {
  color: #fff;
  border-radius: 6px;
  width: 200px;
  margin-left: 75px;
  background-color: green;
}
